html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0000ff;
}

a:active {
  color: #000099;
  text-decoration: underline;
}

#table {
  margin: 20px auto;
  width: 80vw;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33%;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#footer {
  padding: 10px 0;
  border-top: 0.5px solid #c5c5c5;
  font-size: 13px;
  color: #5c5c5c;
}