html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #0000ff;
}

a:active, .active {
  color: #000099;
  text-decoration: underline;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 33%;
  text-align: center;
}

td a {
  max-height: 63px;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#table {
  margin: 20px auto;
  width: 80vw;
  table-layout: fixed;
  position: relative;
}

#footer {
  padding: 10px 0;
  border-top: 0.5px solid #c5c5c5;
  font-size: 13px;
  color: #5c5c5c;
}

#time, #domain {
  display: none;
}

#sortBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 54px;
  line-height: 14px;
  font-size: 10px;
  padding: 6px 10px;
  background-color: #404040;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  outline: none;
}

@media (min-width: 768px) {
  #time, #domain {
    display: table-cell;
  }

  #sortBtn {
    display: none;
  }
}